<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/form-theme.css}">
</head>

<body class="royal-form-page">
<h1 class="page-title">Hotel Management System</h1>

<div class="center-screen " style="min-height: 65vh;">
    <div class="glass-card shadow-glass p-4 text-center" style="max-width: 520px; width: 100%;">

        <h2 class="text-danger fw-bold mb-3">You Do Not Have Access to this Page !!</h2>

        <p class="text-soft mb-3">
            You are logged in as:
            <span sec:authentication="authorities" class="role-badge"></span>
        </p>

        <p class="text-soft2 mb-4">
            Your Roles:
            <span sec:authentication="authorities" class="text-bluegray fw-medium"></span>
        </p>

        <button class="btn btn-primary w-100" onclick="history.back()">
            Go Back
        </button>


    </div>
</div>
</body>
</html>
